# python compiled files
__pycache__

# images
*.png
*.webp
*.jpeg
*.jpg
*.tiff
*.tif
*.gif
*.zst

# folders
htmlcov/
functis.egg-info/
build/
dist/
local_scripts/

# test extras
tests/test_images
.pytest_cache
.coverage

# local files
test_real.py